<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131203296-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'UA-131203296-1');
        </script>
        <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c1f8e5cf6809e0011a91d8c&product=sticky-share-buttons' async='async'></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Credits | UoB Timetable Converter</title>
        <style>
            .pinkbutton {background-color: #FC92A4; border: none;} /* Pink */
        </style>
    </head>
    <body>
        <nav id="navbar" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href = "https://tomhmoses.pythonanywhere.com/timetable/" >UoB Timetable Converter</a>
        </nav>
        <div class="container" data-spy="scroll" data-target="#navbar" data-offset="0">
            <div class="alert alert-danger" role="alert">
                This page is currently still a work in progress.
            </div>
            <h1>
                Credits
            </h1>
            <div class="list-group">
                <a href="http://cssbham.com/" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">The UoB CSS</h5>
                        <small class="text-muted"></small>
                    </div>
                    <p class="mb-1">Thanks to Nadeem Shabir for help with getting me started on using Selenium for this project.</p>
                    <p class="mb-1">And thanks to Ravinder Pal Singh for organising the Local Hack Day hackathon where I started this project!</p>
                    <small class="text-muted"></small>
                </a>
                <a href="https://www.pythonanywhere.com/" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">PythonAnywhere</h5>
                        <small class="text-muted"></small>
                    </div>
                    <p class="mb-1">Where I host this site. The guys there were also super helpful with getting Selenium running with Flask.</p>
                    <small class="text-muted"></small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="https://getbootstrap.com/" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Bootstrap</h5>
                        <small></small>
                    </div>
                    <p class="mb-1">Used for almost all the CSS on this site.</p>
                    <small></small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
            </div>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class='sharethis-sticky-share-buttons' data-url='https://tomhmoses.pythonanywhere.com/timetable/'></div>
    </body>
</html>