<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Done | UoB Timetable Converter</title>
        <style>
            .pinkbutton {background-color: #FC92A4; border: none;} /* Pink */
        </style>
    </head>
    <body>
        <!—- facebook share button javascript —->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <nav id="navbar" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href = "https://tomhmoses.pythonanywhere.com/timetable/" >UoB Timetable Converter</a>
        </nav>
        <div class="container" data-spy="scroll" data-target="#navbar" data-offset="0">
            <h1>
                All done!
            </h1>
            <p>
                Thanks for waiting, but you didn't have to. It actually works in the background as soon as you hit submit!
            </p>
            <p>
                Go check your emails to finish up.
            </p>
            <h1 id="about">
                About
            </h1>
            <p>
                This project is made by Tom Moses (a first year Comp Sci student at UoB) and is <a href="https://tomhmoses.github.io/OnlineBhamTimetableConverter/" class="badge badge-secondary">open source</a>. If you need to contact me, <a href="mailto:tom@tmoses.co.uk?Subject=UoB%20Timetable%20Converter%20Comment" target="_top" class="badge badge-secondary">email me</a>.
            </p>
            <h1>
                Donate money to charity as a thank you
            </h1>
            <p>
                This took ages to make.
            </p>
            <p>
                I'm currently trying to raise money for breast cancer now, I would really appriciate it if you donated around a fiver to this great cause:
            </p>
            <a href="https://l2p19.everydayhero.com/uk/tom" class="btn btn-secondary btn-lg pinkbutton">Tom’s London to Paris page</a>
            <h1>
                Share
            </h1>
            <div class="fb-like" data-href="https://tomhmoses.pythonanywhere.com/timetable/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </body>
</html>