<!doctype html>
<html lang="en" style="box-sizing: border-box;font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-ms-overflow-style: scrollbar;-webkit-tap-highlight-color: transparent;">
    <head style="box-sizing: border-box;">
        <meta charset="utf-8" style="box-sizing: border-box;">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" style="box-sizing: border-box;">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" style="box-sizing: border-box;">
        <title style="box-sizing: border-box;">email | UoB Timetable Converter</title>
    </head>
    <body style="box-sizing: border-box;padding: 0; margin: 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,&quot;Helvetica Neue&quot;,Arial,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;,&quot;Segoe UI Symbol&quot;,&quot;Noto Color Emoji&quot;;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #fafafa;min-width: 240px!important;padding-top:15px;padding-bottom:15px;">
        <div style="width:95%;margin-right: auto;margin-left: auto;padding-top:10px;">
            <div class="container" style="box-sizing: border-box;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;min-width: 240px!important;text-align: center;max-width: 750px;background-color: #fff;border-radius: 15px;">
                <h1 style="box-sizing: border-box;padding-top: 10px;padding-bottom: .5rem;font-family: inherit;font-weight: 500;line-height: 1.2;color: inherit;font-size: 2.5rem;">
                    Processing done!
                </h1>
                <p style="box-sizing: border-box;margin: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                    <strong>Your UoB timetable should be in your calendar right now!</strong> If you used the right email then it should already be in your google calendar app, maybe try quitting it first if it doesn't show.
                </p>
                <p style="box-sizing: border-box;margin: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                    <a href="https://forms.gle/5LBQWT5QTFcJ3XSZ6" class="btn btn-primary btn-lg" style="box-sizing: border-box;color: #fff;text-decoration: none;background-color: #4fda91;-webkit-text-decoration-skip: objects;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .5rem 1rem;font-size: 1.25rem;line-height: 1.5;border-radius: .3rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-color: #4fda91;">Leave feedback</a>
                </p>
                <p>
                    <img src="https://media.giphy.com/media/9Jcw5pUQlgQLe5NonJ/giphy-downsized.gif" style="width:300px;max-width:95%;border-radius: 2px;" alt="GIF of man typing them hitting return and smiling" border="0">
                </p>
                <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;font-size: 0.75rem;">
                    Seriously, some feedback would be much appreciated and it's quicker to do than screenshotting my.bham &#128517;
                </p>
                <h2 style="box-sizing: border-box;margin-top: 25px;margin-bottom: .5rem;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;font-size: 1.5rem;">More info:</h2>
                <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                    If it still isn't there after 3 minutes, that's probably because you didn't use the email linked with your google account... but you can still import the calendar here (it just might not work as seamlessly)
                </p>
                <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                    Your calendar has been created as a new google calendar. Click the button below to view and add this to your calendar.
                </p>
                <a href="LINK_GOES_HERE" class="btn btn-primary btn-lg" style="box-sizing: border-box;color: #fff;text-decoration: none;background-color: #6c757d;-webkit-text-decoration-skip: objects;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .5rem 1rem;font-size: 1.25rem;line-height: 1.5;border-radius: .3rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-color: #6c757d;">Add Calendar</a>
                <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                    You might need to add your google account to your phone’s calendar, see how to do this here:
                </p>
                <a href="https://support.google.com/calendar/answer/99358" class="btn btn-secondary" style="box-sizing: border-box;color: #fff;text-decoration: none;background-color: #6c757d;-webkit-text-decoration-skip: objects;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;border-radius: .25rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-color: #6c757d;">See Google Calendar events<br style="box-sizing: border-box;">on Apple Calendar</a>
                <h1 style="box-sizing: border-box;margin-top: 15px;margin-bottom: .5rem;font-family: inherit;font-weight: 500;line-height: 1.2;color: inherit;font-size: 2.5rem;">
                    I also do phone repairs!
                </h1>
                <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                    Did you like how cheap this service was to use? Then you'll also like how little I change for phone repairs! I had <strong>over 100</strong> people at uni last year come to me for repairs.
                </p>
                <p style="box-sizing: border-box;margin: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                    <a href="https://www.tmoses.co.uk/repairs" class="btn btn-primary btn-lg" style="box-sizing: border-box;color: #fff;text-decoration: none;background-color: #4fda91;-webkit-text-decoration-skip: objects;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .5rem 1rem;font-size: 1.25rem;line-height: 1.5;border-radius: .3rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-color: #4fda91;">Great Value Price list</a>
                </p>
                <h1 style="box-sizing: border-box;margin-top: 15px;margin-bottom: .5rem;font-family: inherit;font-weight: 500;line-height: 1.2;color: inherit;font-size: 2.5rem;">
                    Share
                </h1>
                <p style="box-sizing: border-box;margin-top: 0;padding-bottom: 1rem;orphans: 3;widows: 3;">
                    <a href="http://ttc.tmoses.co.uk/share" class="btn btn-primary btn-lg" style="box-sizing: border-box;color: #fff;text-decoration: none;background-color: #fd5c4c;-webkit-text-decoration-skip: objects;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .5rem 1rem;font-size: 1.25rem;line-height: 1.5;border-radius: .3rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-color: #fd5c4c;">Share</a>
                </p>
            </div>
        </div>
        <p style="box-sizing: border-box;margin-top: 0;padding: 1rem;font-size: 0.75rem;color:#666;">
            Email from the <a href="https://ttc.tmoses.co.uk/" style="color:#000;text-decoration: underline;">UoB Timetable Converter</a>, made by <a href="https://www.tmoses.co.uk/" style="color:#000;text-decoration: underline;">Tom Moses</a>.
            <br> You were sent this as a follow up to the request you made to sync your University of Birmingham timetable (from my.bham) to a Google Calendar.
        </p>
    </body>
</html>
