<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>UoB Timetable Converter</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">UoB Timetable Converter</a>
                </div>
            </div>
        </nav>

        <div class="container">



            <div class="row">
                {% if not error %}
                    <h3>
                        What to do
                    </h1>
                    <p>
                        Fill in the boxes below and click submit. You should be emailed a link to view (and inport) your calendar within a few minutes.
                    </p>
                {% endif %}
                {% if error %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                <form action="." method="POST">
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" id="email" name="email" placeholder="Enter your email (leave blank to use uni email)">
                  </div>
                  <div class="form-group">
                    <label for="username">UoB Username:</label>
                    <input class="form-control" id="username" name="username" placeholder="Enter your username">
                  </div>
                  <div class="form-group">
                    <label for="password">UoB Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>

            <h3>
                About
            </h1>
            <p>
                This project is made by Tom Moses (a first year Comp Sci student at UoB) and is <a href="https://tomhmoses.github.io/OnlineBhamTimetableConverter/">open source</a>, if you need to contact me email tom@tmoses.co.uk
            </p>
            <h3>
                Donate money (to charity)
            </h1>
            <p>
                I'm currently trying to raise money for breast cancer now, if you'd like to donate you can do so <a href="https://l2p19.everydayhero.com/uk/tom">here</a>.
            </p>
            </div>

        </div>


    </body>
</html>
