<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Redirecting...</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <meta http-equiv="refresh" content="0; URL='https://home.tmoses.co.uk/'" />
    </head>
    <body>
        <nav id="navbar" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href = "https://tomhmoses.pythonanywhere.com/timetable/" >Tom Moses</a>
        </nav>
        <div class="container">
            <div class="alert alert-info" role="alert">
                Redirecting to home.tmoses.co.uk...
            </div>
        </div>
    </body>
</html>